.ContainerScrollVentajas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 747px;
    /* justify-content: space-between; */
    background-color: #009FBB;
    width: -webkit-fill-available;
}

.ContainerTop {
    color: #D3D5DA;
    font-size: 49px;
    font-family: Montserrat;
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #D3D5DA;
    margin-top: 190px;
}

.TitleVentajas {
    display: flex;
    align-self: flex-end;
    margin-bottom: 50px;
    width: 82%;
}

.ContainerBottom {
    height: -webkit-fill-available;
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 51px;
}

.subContainerBottom {
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 80px;
}

.subTitle {
    height: 40%;
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    gap: 135px;
}

.subTextLeft {
    font-weight: 700;
    font-size: 20px;
    font-family: Montserrat;
    color: #D3D5DA;
    width: 100%;
    max-width: 350px;
}

.subTextRight {
    font-weight: 400;
    font-size: 20px;
    font-family: Montserrat;
    color: #D3D5DA;
    width: 100%;
    max-width: 260px;
}

.buttonVerMas {
    scale: 200%;
    border: 1px solid #D3D5DA;
    border-radius: 60px;
    padding: 15px;
    background-color: #D3D5DA;
}

.ContainerScrollingText {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-top: 60px;
}

.preText {
    font-size: 49px;
    font-weight: 700;
    font-family: Montserrat;
    color: #D3D5DA;
}

.ScrollingText {
    font-size: 49px;
    font-weight: 700;
    font-family: Montserrat;
    color: #A0E838;
}

@media (max-width: 480px) {
    .ContainerScrollVentajas {
        /* top: 480vh; */
        height: 774px;
    }

    .ContainerTop {
        font-size: 36px;
        width: 81%;
        display: flex;
        align-self: center;
        margin-top: 135px;
    }

    .TitleVentajas {
        width: 100%;
        margin-bottom: 25px;
    }

    .ContainerBottom {
        height: -webkit-fill-available;
        width: 80%;
        align-self: center;
        margin-top: 47px;
    }

    .subContainerBottom {
        flex-direction: column;
        gap: 24px;
    }

    .subTitle {
        height: auto;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .subTextLeft,
    .subTextRight {
        width: 100%;
        display: flex;
        align-self: flex-start;
        font-size: 20px;
        line-height: 120%;
    }

    .buttonVerMas {
        scale: 150%;
        align-self: flex-start;
        margin-left: 10px;
        padding: 10px;
    }

    .ContainerScrollingText {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 75px;
        gap: 6px;
    }

    .preText {
        font-size: 29px;
        width: 100%;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 130%;
    }

    .ScrollingText {
        font-size: 29px;
    }

}

@media (max-height: 670px) {

    .ContainerScrollVentajas {
        top: 600vh;
        height: 156vh;
    }

    .butttonVerMas {
        padding: 10px;
    }

    .ContainerScrollVentajasResultados {
        top: 725vh;
        height: 156vh;
    }
}

/* 
@media (max-width: 430px) {

    .ContainerScrollVentajas {
        top: 600vh;
        height: 130vh;
    }

    .ContainerScrollVentajasResultados {
        top: 769vh;
        height: 130vh;
    }

    .ContainerTop {
        font-size: 30px;
        width: 91%;
    }

    .ContainerBottom {
        width: 91%;
    }

    .subTextLeft {
        font-size: 16px;
    }

    .subTextRight {
        font-size: 16px;
    }
} */

/* @media (max-width: 430px) and (max-height: 800px) {

    .ContainerScrollVentajas {
        top: 490vh;
        height: 115vh;
    }

    .ContainerScrollVentajasResultados {
        top: 620vh;
        height: 115vh;
    }

    .preText {
        font-size: 29px;
        margin-right: 12px;
    }

} */

@media (max-width: 1500px) and (max-height: 800px) {
    .ContainerTitle {
        width: 920px;
    }
}