.ExtraContainerScrollPrincipal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ExtraContainerScrollPrincipalResultado {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ContainerScrollPrincipal {
    display: flex;
    height: 100%;
    width: -webkit-fill-available;
    justify-content: center;
    flex-direction: column;
}

.FotoScrollPrincipal {
    height: 100vh;
    width: -webkit-fill-available;
    object-fit: cover;
    object-position: center top;
    background: rgba(46, 46, 46, 0.30);
    z-index: 1;
}

.contImage {
    display: flex;
}

.contImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 5;
}

.ContainerContainerTitle {
    display: flex;
    justify-self: center;
}

.ContainerTitle {
    width: 1098px;
    height: 383px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    justify-content: space-around;
    padding-left: 310px;
    top: 280px;

}

.Intro {
    display: flex;
    align-items: flex-start;
    font-weight: 100;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;

}

.Titulo {
    display: flex;
    flex-direction: column;
    width: 592px;
    height: max-content;
    align-items: flex-start;
}

.Text1 {
    font-size: 61px;
    font-weight: 600;
    line-height: 73.20px;
    color: #FFFFFF;
    white-space: nowrap;
    display: flex;
    width: 180px;
    height: auto;
}

.Text2 {
    font-size: 61px;
    font-weight: 600;
    line-height: 73.20px;
    color: #A0E838;
}

.subText {
    width: 320px;
    height: 84px;
    font-weight: 100;
    line-height: 24px;
    font-size: 16px;
    color: #FFFFFF;
}

.ButtonHome {
    background-color: #004993;
    text-align: center;
    width: 200px;
    border-radius: 30px;
    padding: 13px 36px 13px 36px;
    border: none;
    color: #F2F2F2;
    text-align: center;
    font-family: Montserrat;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 145%;
    letter-spacing: -0.11px;
}

.containerButtons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;

}

.containerButtons:hover .flecha {
    left: 10px;
    border-radius: 50%;
    animation: radial-pulse 2s infinite;
}

.flecha {
    position: relative;
    left: 0px;
    transition: .3s ease-in-out;

}

.footerHome {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    justify-content: flex-end;
    position: absolute;
    z-index: 2;
    height: auto;
    bottom: 10%;
    left: 100;
}

.scrollFooter {
    display: flex;
    align-self: center;
    scale: 100%;
    position: relative;
    top: 0px;
    transition: 0.5s ease-in-out;
    animation: dimensionAnimation 1s infinite alternate;
}

.ContainerSubFooter {
    height: 100vh;
    background-color: #FFFFFF;
}

.ContainerSubFooterCalculador {
    height: 100vh;
    background-color: #FFFFFF;
}

@keyframes dimensionAnimation {
    from {
        scale: 100%;
        top: 0px;
    }

    to {
        scale: 105%;
        top: 20px;
    }
}

@media (max-width: 1420px) {
    .ContainerTitle {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .scrollFooter {
        display: none;
    }
}

@media (max-width: 500px) {
    .ExtraContainerScrollPrincipal {
        height: 100%;
    }

    .ContainerScrollPrincipal {
        height: 780px;
    }

    .ContainerTitle {
        width: -webkit-fill-available;
        padding-left: 30px;
    }

    .Titulo {
        width: auto;
    }

    .Intro {
        font-size: 14px;
        width: 60%;
    }

    .Text1 {
        font-size: 48px;
    }

    .Text2 {
        font-size: 48px;
    }

    .subText {
        font-size: 16px;
        height: 50px;
    }

    .containerButtons {
        width: 425px;
        display: none;
    }

    .ButtonHome {
        width: 45%;
        font-size: 18px;
        padding: 0px 15px 0px 15px;
    }

    .FotoScrollPrincipal {
        object-position: 55% 50%;
    }

    .ContainerSubFooter {
        width: 100%;
    }

    .ContainerSubFooterCalculador {
        height: 181vh;
        width: -webkit-fill-available;
    }

    .contImage::before {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media (max-height: 670px) {

    .ContainerTitle {
        top: 170px;
    }

    .ContainerSubFooter {
        height: 110vh;
    }

    .ContainerSubFooterCalculador {
        height: 250vh;
        width: -webkit-fill-available;
    }

    .contImage::before {
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 5;
    }

}

@media (max-width: 430px) {
    .Text1, .Text2 {
        font-size: 40px;
        height: 45px;
    }

    .subText {
        width: 290px;
    }

    .ContainerSubFooterCalculador {
        height: 275vh;
        width: -webkit-fill-available;
    }

    .contImage {
        position: relative;
        height: 770px; /* Establecer el alto deseado */
      }

    .contImage::before {
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 5;
        /* height: 770px; */
        /* Ajusta la opacidad según sea necesario para pantallas más pequeñas */
    }
}

@media (max-width: 430px) and (max-height: 800px) {

    .ContainerTitle {
        top: 210px;
    }

    .ContainerSubFooterCalculador {
        height: 220vh;
        width: -webkit-fill-available;
    }
}