.Container{
    width: 1122px;
    height: auto;
    padding: 30px 28px 30px 28px;
    /* border:solid 1px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
background: var(--Escala-de-grises-1, #F2F2F2);
gap:34px;
opacity: 1;  /* Inicia con opacidad cero para que aparezca gradualmente */
animation: slideIn 0.2s ease-in-out;
transform: all 1s linear;
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.ContentText{
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border:solid 1px red; */
}
.TextObteneGarantia{
    color: var(--Azul-principal, #004993);


font-family: Montserrat;
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: 120%; 
}
.TextCompletaTusDatos{
    color: #1A1A1A;

/* Body/Body Large_Medium */
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 145%; /* 26.1px */
letter-spacing: -0.09px;
}

.GridContentInputs{
    width: -webkit-fill-available; 
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    gap:20px
}
.InputStyle{
              
    height: 30px;
    border:none;
    border-radius: 10px;
    background: #F9FAFB;
    padding: 25px !important;
    outline: none;
}

.DivContentBtn{
    display: flex;
    flex-direction: row;
    gap:27px;
    width: 583px;
}

.Boton1{
    display: flex;
width: 278px;
height: 30px;
padding: 13px 0px;
justify-content: center;
align-items: center;
gap: 15px;
border-radius: 30px;
border: 2px solid var(--Azul-principal, #004993);

color: var(--Azul-principal, #004993);

/* Body/Body Medium_medium */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
cursor: pointer;
padding: 25px !important;

}
.Boton1:hover {
    color: #ffffff;
    background-color: #004993;
    transform: scale(0.98);
}
.Boton2:hover  {
  transform: scale(0.98);

}

.Boton2{
    display: flex;
    flex-direction: row;
width: 278px;
height: 30px;
padding: 13px 0px;
justify-content: center;
align-items: center;
gap: 15px;
border-radius: 30px;
background: var(--Azul-principal, #004993);
color: #FFF;
padding: 25px !important;
/* Body/Body Medium_medium */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
cursor:pointer;
.svg-icon {
    fill: #F9FAFB; /* Color de llenado predeterminado */
    transition: fill 0.3s ease; /* Agrega una transición suave al cambio de color */
}
}