.ContainerGeneral {
    display: flex;
    flex-direction: column;
    height: 10vh;
    position: absolute;
    top: 127vh;
    justify-content: space-between;
    background-color: #f2f5fb;
    width: -webkit-fill-available;
    height: 100%;
}

.ContainerGeneralResultados {
    display: flex;
    flex-direction: column;
    height: 10vh;
    position: absolute;
    top: 125vh;
    justify-content: space-between;
    background-color: #f2f5fb;
    width: -webkit-fill-available;
    height: 100%;
}

.ExtraContainerHeader {
    width: 100%;
    border-bottom: 1px solid #4D4D4D;
    height: 40%;
    display: flex;
}

.ExtraContainerHeaderResultados {
    width: 100%;
    border-bottom: 1px solid #4D4D4D;
    height: 40%;
    display: flex;
}

.ContainerHeader {
    color: #4D4D4D;
    background-color: #f2f5fb;
    font-size: 49px;
    font-family: Montserrat;
    font-weight: 500;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TextHeader {
    width: 70%;
    position: relative;
    top: 40px;
}

.ScrollCards {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    align-self: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.ScrollCardsResultados {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    align-self: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.Carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card {
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;

    translate: none;
    rotate: none;
    scale: none;
}

/* .Card:nth-of-type(even) {
    transform: translateY(-65%) scale(0.8, 0.8);
}

.Card.show {
    transform: translateY(0) scale(0.8, 0.8);
} */

.TextoCard {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.TitleCard {
    color: #414141;
    font-size: 39px;
    font-family: Montserrat;
    font-weight: 400;
}

.DescripcionCard {
    color: black;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    width: 90%;
}

.ImagenCard {
    scale: 150%;
    border: 1px solid #004993;
    border-radius: 30px;
    padding: 10px;
}

/* .flechaFooterCard {} */

@media (max-width: 500px) {
    .ContainerGeneral {
        top: 205vh;
        height: 275vh;
    }

    .ContainerGeneralResultados {
        top: 291vh;
        height: 279vh;
    }

    .ContainerHeader {
        font-size: 36px;
        width: -webkit-fill-available;
    }

    .ExtraContainerHeader {
        height: 15%;
        width: 79%;
        align-self: center;
    }

    .ExtraContainerHeaderResultados {
        height: 15%;
        width: 79%;
        align-self: center;
    }

    .ScrollCards {
        width: 100%;
    }

    .ScrollCardsResultados {
        width: 100%;
    }

    .TextHeader {
        width: auto;
        padding: 45px 0px 45px 0px;
    }

    .Carrousel {
        justify-content: space-evenly;
        height: 180vh;
        width: -webkit-fill-available;
    }

    .Card {
        margin: 25px 0px 25px 0px;
        flex-direction: column;
        border-radius: 20px;
        width: 81%;
    }

    .TextoCard {
        gap: 32px;
        width: 75%;
    }

    .TitleCard {
        font-size: 28px;
    }

    .flechaFooterCard {
        width: 350px;
        height: 38%;
        display: flex;
        align-self: center;
        border-radius: 0px 0px 20px 20px;
    }
}

@media (max-height: 670px) {

    .ContainerGeneral {
        top: 246vh;
        height: 465vh;
    }

    .ExtraContainerHeader {
        height: 12%;
        width: 90%;
    }

    .ExtraContainerHeaderResultados {
        height: 12%;
        width: 90%;
    }

    .ScrollCards {
        overflow: unset;
        overflow-y: unset;
        height: 300vh;
    }

    .ScrollCardsResultados {
        overflow: unset;
        overflow-y: unset;
        height: 300vh;
    }

    .Carrousel {
        justify-content: space-evenly;
        height: 230vh;
        width: -webkit-fill-available;
    }

    .ContainerGeneral {
        height: 480vh;
        top: 246vh;
    }

    .flechaFooterCard {
        width: -webkit-fill-available;
    }
    
    .ContainerGeneralResultados {
        top: 385vh;
        height: 465vh;
    }
}

@media (max-width: 321px) {

    .ContainerGeneral {
        height: 354vh;
        top: 246vh;
    }

    .ContainerGeneralResultados {
        height: 354vh;
        top: 415vh;
    }
    
    .ExtraContainerHeader {
        height: 15%;
        width: 90%;
    }

    .ExtraContainerHeaderResultados {
        height: 15%;
        width: 90%;
    }
    
    .ScrollCards {
        height: 265vh;
    }

    .ScrollCardsResultados {
        /* height: 253vh; */
        height: 270vh;
    }

    .ContainerHeader {
        font-size: 30px;
    }
}