.ContainerGeneral {
    display: flex;
    flex-direction: column;
    height: 150vh;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f5fb;
    width: -webkit-fill-available;
}

.ExtraContainerHeader {
    display: flex;
    width: 100%;
    height: auto;
    padding: 120px 0px 50px 0px;
    border-bottom: 1px solid #4D4D4D;
}

.TextHeader {
    width: 100%;
    max-width: 867px;
    font-family: Montserrat;
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

}

.ScrollCards {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    align-self: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.ScrollCardsResultados {
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
    width: 100%;
    align-self: center;
    align-items: center;
    overflow: hidden;
    overflow-y: scroll;
}

.Carrousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    gap: 16px;
    margin-top: 60px;
    /* overflow-y: scroll; */
    /* scroll-behavior: smooth; */
    /* padding: 100px 0px; */
}

.Card {
    background-color: #FFFFFF;
    border-radius: 30px;
    width: 80%;
    max-width: 1120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: 0.5s;
    rotate: none;
    scale: none;
}

.TextoCard {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 50px;
}

.TitleCard {
    color: #414141;
    font-size: 39px;
    font-family: Montserrat;
    font-weight: 400;
}

.DescripcionCard {
    color: black;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    width: 90%;
}

.ContainerCardArrow {
    cursor: pointer;
    width: 4%;
    padding: 10px;
}

.ImagenCard {
    scale: 150%;
    padding: 10px;
    transition: 0.5s;
    position: relative;
    left: 0px;
    border: 1px solid #004993;
    border-radius: 30px;
}

.ImagenCardMouseOver {
    padding: 6px;
    scale: 100%;
}

.TextCardArrow {
    display: none;
    width: auto;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
}

.Card:hover .ContainerCardArrow {
    display: flex;
    width: 22%;
    border: 1px solid #004993;
    border-radius: 30px;
    background-color: #004993;
    transition: 0.5s;
    justify-content: space-around;
}

.Card:hover .ImagenCard {
    padding: 6px;
    cursor: pointer;
    transition: 0.5s;
    left: 0px;
    scale: 120%;
}

.Card:hover .ImagenCardMouseOver {
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    left: 80px;
}

.Card:hover .TextCardArrow {
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0px 0px 0px 5px;
}

.cardImage {
    object-fit: cover;
    border-radius: 0px 30px 30px 0px;
    max-width: 485px;
    width: 100%;
}

@media (max-width: 480px) {
    .ContainerGeneral {
        height: auto;
    }

    .ContainerGeneralResultados {
        height: auto;

    }

    .ContainerHeader {
        font-size: 36px;
        width: -webkit-fill-available;
    }

    .ExtraContainerHeader {
        height: 15%;
        width: 79%;
        align-self: center;
    }

    .ExtraContainerHeaderResultados {
        height: 15%;
        width: 79%;
        align-self: center;
    }

    .ScrollCards {
        width: 100%;
    }

    .ScrollCardsResultados {
        width: 100%;
    }

    .TextHeader {
        width: auto;
        color: #4D4D4D;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
    }

    .Carrousel {
        justify-content: space-evenly;
        height: fit-content;
        width: -webkit-fill-available;
    }

    .Card {
        margin: 25px 0px 25px 0px;
        flex-direction: column;
        border-radius: 20px;
        width: 81%;
    }

    .TextoCard {
        gap: 32px;
        width: 75%;
    }

    .TitleCard {
        font-size: 28px;
    }

    .cardImage {
        width: 350px;
        height: 38%;
        display: flex;
        align-self: center;
        border-radius: 0px 0px 20px 20px;
    }

    .Card:hover .ContainerCardArrow {
        width: 65%;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) and (max-height: 770px) {

    .ContainerGeneral {
        height: auto;
        padding-bottom: 100px;
    }

    .ExtraContainerHeader {
        height: 12%;
        width: 90%;
    }

    .ExtraContainerHeaderResultados {
        height: 12%;
        width: 90%;
    }

    .ScrollCards {
        overflow: unset;
        overflow-y: unset;
        height: 300vh;
    }

    .ScrollCardsResultados {
        overflow: unset;
        overflow-y: unset;
        height: 300vh;
    }

    .Carrousel {
        justify-content: space-evenly;
        height: auto;
        width: -webkit-fill-available;
    }

    .cardImage {
        width: -webkit-fill-available;
    }

}

@media (max-width: 480px) and (max-height: 800px) {

    .ContainerGeneral {
        height: 285vh;
    }

    .Carrousel {
        height: 250vh;
    }

    .ScrollCards {
        height: 315vh;
    }

    .cardImage {
        width: -webkit-fill-available;
    }

    .ContainerGeneralResultados {
        height: 285vh;
        /* top: 335vh; */
    }

}

@media (max-width: 330px) {
    .ContainerGeneral {
        height: 325vh;
    }

    .ExtraContainerHeader {
        height: 20%;
    }

    .Carrousel {
        height: 255vh;
        padding: 0px;
        gap: 0px;
        justify-content: flex-start;
    }

    .TextHeader {
        padding: 0px;
    }

    .TextoCard {
        width: 85%;
        padding: 22px;
    }



}