/* styles/VerticalCarousel.module.css */
.carouselContainer {
    position: relative;
    height: 500px;
    overflow: hidden;
    border: solid 2px blue;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding:4%;
  }
  
  .carousel {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    border:solid 1px rgb(0, 255, 149);
    width: auto;
    height: auto;
  }
  
  .card {

    border-radius: 30px;
    width: auto;
    /* max-width: 1120px; */
    /* max-height: 297px; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
 
    /* border: 1px solid #ddd; */
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
    border:solid 1px red;
  }
  
  .card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .card.active {
    transform: scale(1.2);
  }
  
  .cardContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .navButton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  