.containerSlide {
    height: auto;
    /* display: flex; */
    /* position: absolute;
    top: 112vh; */
    background-color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    @media (min-width: 0px) and (max-width: 1017px) {
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}

.containerSlideCalculador {
    height: 15vh;
    /* position: absolute;
    top: 111vh; */
    background-color: #FFFFFF;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;

}

.Slide {
    color: #004993;
    font-size: 70px;
    font-family: Montserrat;
    line-height: 98px;
    font-weight: 500;
    padding: 20px 15px 20px 15px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap:15px;
    animation: 10s slide infinite linear;
    height:  auto;
    @media (min-width: 0px) and (max-width: 1017px) {
        font-size: 22px;
        /* border:solid 1px red; */
        font-size: 22px;
        height:  50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-content: center;
        gap:15px
        
    }
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}