.ContainerGeneralSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  width: 100%;
}

.ContainerComentarios {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.TitleComentarios {
  font-size: 49px;
  font-family: Montserrat;
  font-weight: 500;
  height: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.ContainerTitle {
  width: 84%;
  padding-bottom: 50px;
}

.Title {
  color: #1a1a1a;
  font-size: 49px;
  line-height: 58.80px;
  font-family: Montserrat;
  font-weight: 500;
}

.ContainerSlideComentarios {
  width: 84%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}

.ContainerSubText {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  gap: 80px;
}

.SubTexts {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px 50px 0px;
}

.SubTextLeft {
  width: 39%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.SubTextRight {
  width: 33%;
  font-size: 20px;
  line-height: 24px;
}

.flecha {
  padding: 25px;
  background-color: #004993;
  border-radius: 50px;
}

.ContainerSlideCards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
}

.ContainerFlechas {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.FlechaLeft {
  padding: 15px;
  background-color: #a3a3a3;
  border-radius: 100%;
  transform: scaleX(-1);
  cursor: pointer;
}

.FlechaRight {
  padding: 15px;
  background-color: #a3a3a3;
  border-radius: 100%;
  cursor: pointer;
}

.FlechaLeft:hover {
  background-color: #696969;
}

.FlechaRight:hover {
  background-color: #696969;
}

.containerAux {
  display: flex;
  overflow: hidden;
}

.SlideCards {
  display: flex;
  flex-direction: row;
  max-width: 850px;
  padding: 8px 0px;
  gap: 32px;
}

.CardComentario {
  width: 257px;
  height: 301px;
  border-radius: 20px;
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 3px 5px #888888;
}

.TopCard {
  display: flex;
  width: 75%;
  align-self: center;
  justify-content: flex-start;
  gap: 15px;
}

.Calificaciones {
  display: flex;
  align-items: center;
}

.Puntaje {
  color: #a3a3a3;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 500;
}

.Comentario {
  color: #4d4d4d;
  font-size: 16px;
  line-height: 24px;
  font-family: Montserrat;
  font-weight: 700;
  display: flex;
  width: 75%;
  align-self: center;
  justify-content: flex-start;
}

.Autor {
  width: 75%;
  display: flex;
  align-self: center;
  border-top: 1px solid #999999;
  padding-top: 15px;
  color: #999999;
}

.SeccionPartners {
  height: 84vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #ffffff;
  padding-bottom: 150px;
}

.ContainerTitlePartners {
  width: 84%;
  padding-bottom: 50px;
}

.BottomPartners {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.ContainerSlidePartners {
  width: 84%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  gap: 100px;
}

.ContainerSlider {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.ContainerPartners {
  width: 90%;
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 64px;
}

.contImagePartner {
  display: flex;
  align-items: center;
  width: 180px;
  height: 110px;
}

.contImagePartner .imgPartner {
  filter: grayscale(100%);
  transition: filter 0.5s;
}

.contImagePartner:hover .imgPartner {
  filter: grayscale(0%);
}

@media only screen and (max-width: 360px) {
  .ContainerComentarios {
    height: auto;
  }

  .TitleComentarios {
    height: 280px;
  }

  .ContainerSubText,
  .SubTexts {
    flex-direction: column;
  }

  .SubTextLeft,
  .SubTextRight {
    width: auto;
  }

  .ContainerSubText {
    gap: 0px;
    align-items: flex-start;
  }

  .ContainerSlideComentarios {
    width: 90%;
    gap: 50px;
  }

  .ContainerSlideCards {
    flex-direction: column-reverse;
    align-items: center;
    gap: 32px;
  }

  .containerAux {
    overflow-x: scroll;
    width: 100%;
  }

  .SlideCards {
    flex-direction: row;
  }

  .SeccionPartners {
    height: auto;
  }

  .ContainerSlidePartners {
    width: 80%;
    gap: 50px;
  }

  .BottomPartners {
    overflow-y: hidden;
  }

  .ContainerPartners {
    width: 1200px;
    gap: 16px;
    align-self: auto;
  }

  .ContainerFlechas {
    display: none;
  }
}

@media only screen and (min-width: 361px) and (max-width: 480px) {
  .ContainerGeneralSectionResultados {
    width: -webkit-fill-available;
  }

  .ContainerComentarios {
    height: -webkit-fill-available;
  }

  .TitleComentarios {
    border-bottom: none;
    height: 15%;
  }

  .ContainerTitle {
    width: 80%;
    padding-bottom: 30px;
    padding-top: 130px;
    border-bottom: 1px solid #004993;
  }

  .Title {
    font-size: 36px;
  }

  .ContainerSlideComentarios {
    width: 80%;
    gap: 50px;
  }

  .ContainerSubText {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0px;
    height: auto;
  }

  .SubTexts {
    flex-direction: column;
    gap: 16px;
  }

  .SubTextLeft {
    width: auto;
  }

  .SubTextRight {
    width: auto;
  }

  .flecha {
    display: flex;
    align-self: flex-start;
    padding: 15px;
  }

  .ContainerSlideCards {
    flex-direction: column-reverse;
    gap: 33px;
  }

  .containerAux {
    overflow-x: scroll;
  }

  .SlideCards {
    flex-direction: row;
  }

  .SeccionPartners {
    height: 70vh;
  
  }

  .CardComentario {
    width: auto;
    height: 224px;
    justify-content: center;
    gap: 8px;
  }

  .TopCard {
    width: 80%;
  }

  .Calificaciones {
    gap: 8px;
  }

  .Comentario {
    width: 80%;
  }

  .Autor {
    width: 80%;
  }

  .ContainerFlechas {
    display: none;
  }

  .ContainerTitlePartners {
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid #004993;
  }

  .ContainerSlidePartners {
    width: 80%;
    gap: 50px;
  }

  .BottomPartners {
    overflow-y: hidden;

  }

  .ContainerPartners {
    width: 1200px;
    align-self: auto;
  }
}

@media (max-height: 670px) {
  .ContainerComentarios {
    height: 245vh;
  }

  .SeccionPartners {
    height: 120vh;
  }

  .flecha {
    padding: 15px;
  }

  .ContainerGeneralSectionResultados {
    /* top: 509vh; */
    width: -webkit-fill-available;
  }

  .ContainerTitle {
    width: 85%;
  }

  .ContainerSlideCards {
    width: 100%;
  }

  .ContainerSlideComentarios {
    width: 85%;
  }
}

@media (max-width: 330px) {
  .ContainerSubText {
    height: 55%;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1600px) and (max-height: 770px) {
  .ContainerComentarios {
    height: 100vh;
  }

  .ContainerTitle {
    width: 80%;
  }

  .ContainerSlideComentarios {
    width: 80%;
  }

  .ContainerTitlePartners {
    width: 80%;
  }

  .ContainerSlidePartners {
    width: 80%;
  }
}