.boxPrincipal {
    /* height: 95px; */
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50vh;
    /* position: relative; */
    /* top: 211vh; */
    flex-direction: column;
    justify-content: space-between;
}

.boxPrincipalResultado {
    width: 100%;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 50vh;
    /* position: relative; */
    /* top: 123vh; */
    flex-direction: column;
    justify-content: space-between;
}

.lateralIzq {
    opacity: 50%;
    margin-right: 50px;
    transform: scaleX(-1);
    margin-top: 84px;
}

.lateralDer {
    opacity: 50%;
    margin-left: 50px;
    margin-top: 84px;
}

.subBoxFooter {
    width: 88%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.boxDireccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
    height: 100%;
}

.boxRedes {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.subBoxRedes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
}

.iconRedes {
    background: none;
    display: flex;
    scale: 200%;
    width: 5vh;
    justify-content: center;
    align-items: center;
}

.FotoRedes {
    scale: 70%;
}

.FotoRedes:hover {
    opacity: 0.6;
}

.subContainerFooter {
    display: flex;
    flex-direction: row;
    width: 88%;
    justify-content: space-between;
    padding-top: 75px;
}

.ContainerIzqFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 20vh;
}

.Suscribite {
    color: #1A1A1A;
    font-size: 31px;
    font-family: Montserrat;
    font-weight: 500;
}

.imgArrowSuscribite {
    scale: 130%;
    padding: 15px;
    border-radius: 30px;
    background-color: #004993;
}

.ContainerDerFooter {
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: space-between;
}

.ContainerRedes {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    padding-bottom: 10px;
}

.subContainerRedes {
    display: flex;
    width: 35vh;
    height: 50px;
    justify-content: space-between;
}

.buttonSolicitar {
    color: #F9FAFB;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 400;
    background-color: #004993;
    border-radius: 30px;
    border: none;
    padding: 13px 36px 13px 36px;
}

.ContainerContacto {
    display: flex;
    justify-content: space-between;
}

.Direccion {
    width: 30%;
    color: #1A1A1A;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
}

.Contacto {
    width: 40%;
    color: #1A1A1A;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 500;
}

.textoFooter {
    color: #999999;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
}

.bannerFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 10vh;
    background-color: #F9FAFB;
    justify-content: center;
}

.subBannerFooter {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.footerDelSud {
    display: flex;
    width: 32vh;
    justify-content: space-between;
}

.textoDelSud {
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
}

.logoDelSud {
    display: flex;
    align-self: center;
}

.botonesFooter {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.botonFooter {
    display: flex;
    align-items: center;
    color: #999999;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 500;
}

@media (max-width: 968px) {
    .titulosFooter {
        text-align: center;
        padding-top: 10px;
    }

    .boxDireccion {
        align-items: center;
    }

    .FotoRedes {
        width: 35px;
        height: auto;
        color: #004A92;
    }

    .titulosFooter {
        font-size: 12px;
    }

    .boxRedes {
        height: auto;
    }

    .boxDireccion {
        row-gap: 0px;
        height: auto;
        width: 135%;
    }
}


@media (max-width: 600px) {
    .boxPrincipal {
        width: -webkit-fill-available;
        height: 100vh;
        top: 373vh;
    }

    .boxPrincipalResultado {
        width: -webkit-fill-available;
        height: 100vh;
        top: 373vh;
    }

    .subContainerFooter {
        flex-direction: column;
        width: 85%;
        gap: 70px;
    }

    .subBoxFooter {
        flex-direction: column;
        height: 90%;
    }

    .ContainerIzqFooter {
        width: 100%;
        height: 35vh;
    }

    .ContainerDerFooter {
        width: auto;
        flex-direction: column;
        gap: 45px;
    }

    .lateralIzq {
        opacity: 50%;
        transform: scaleX(-1);
        position: relative;
        top: 12px;
        right: 15px;
        width: 20%;
        margin-top: 0px;
    }

    .lateralDer {
        opacity: 50%;
        position: relative;
        top: 12px;
        left: 15px;
        width: 20%;
        margin-top: 0px;
    }

    .ContainerRedes {
        flex-direction: column;
        border-bottom: none;
        gap: 25px;
    }

    .ExtraSubContainerRedes {
        width: 100%;
        border-bottom: 1px solid #999999;
    }

    .subContainerRedes {
        width: 75%;
        padding-bottom: 25px;
    }

    .iconRedes {
        scale: 130%;
    }

    .buttonSolicitar {
        width: 57%;
    }

    .ContainerContacto {
        flex-direction: column;
        gap: 32px;
    }

    .Direccion {
        width: auto;
    }

    .Contacto {
        width: auto;
    }

    .textoFooter {
        width: 85%;
    }

    .bannerFooter {
        height: 15vh;
    }

    .subBannerFooter {
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .footerDelSud {
        width: 85%;
        align-self: center;
    }
    
    .botonesFooter {
        width: 85%;
        align-self: center;
    }

}

@media (max-height: 670px) {

    .boxPrincipal {
        top: 514vh;
        height: 150vh;
    }

    .boxPrincipalResultado {
        top: 514vh;
        height: 150vh;
    }

    .footerDelSud {
        width: 95%;
    }

    .botonesFooter {
        width: 95%;
    }
}

@media (max-width: 430px) {

    .boxPrincipal {
        top: 484vh;
        height: 150vh;
    }

    .boxPrincipalResultado {
        top: 484vh;
        height: 150vh;
    }
}

@media (max-width: 430px) and (max-height: 800px) {

    .boxPrincipal {
        top: 379vh;
        height: 129vh;
    }

    .boxPrincipalResultado {
        top: 388vh;
        height: 129vh;
    }

    .footerDelSud {
        width: 95%;
        align-self: center;
    }

    .botonesFooter {
        width: 95%;
        align-self: center;
    }
}

@media (max-width: 330px) {
    
    .boxPrincipal {
        height: 150vh;
    }
    
    .bannerFooter {
        height: 20vh;
    }
}