.ContainerServiciosCards {
    display: flex;
    background-color: #112A42;
    flex-direction: column;
    height: 100vh;

    @media (min-width: 0px) and (max-width: 990px) {
        height: auto;
    }
}

.HeaderServiciosCards {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    height: auto;
    border-bottom: 1px solid #009FBB;
}

.VectorTop {
    z-index: 99;
    position: absolute;
    top: 8vw;

    @media (min-width: 1166px) and (max-width: 1600px) {
        top: 10vw;
        left: -2vw;
    }
    @media (min-width: 0px) and (max-width: 1165px) {
        top: 12vw;
        left: -4vw;
    }
    @media (min-width: 0px) and (max-width: 990px) {
        display: none;
    }
}

.ContainerTitle {
    padding-left: 11vw;
    padding-top: 13vw;
    padding-bottom: 3vw;
    align-self: center;

    @media (min-width: 0px) and (max-width: 600px) {
        padding-top: 30vw;

    }
}

.preTitle {
    color: #F9FAFB;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26.1px;

}

.Title {
    color: #F9FAFB;
    font-family: Montserrat;
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: 58.8px;

    @media (min-width: 0px) and (max-width: 600px) {
        font-size: 36px;
    }
}

.ContainerCards {
    height: 60vh;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-around;
    align-items: center;
    gap: 2.2vw;

    @media (min-width: 0px) and (max-width: 990px) {
        flex-direction: column;
        height: auto;
        padding: 11.4vw 0px 11.4vw 0px;
    }
}

.ServicioCard {
    width: 256px;
    height: 256px;
    border-radius: 20px;
    background-color: #112A42;
    border: 6px solid #009FBB;
    padding: 1.7vw 2.4vw 1.7vw 2.4vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.ServicioCard:hover {
    background-color: #009FBB;
}

.cardImgContainer {
    display: flex;
    justify-content: center;
}

/* .imgCard {} */

.TitleCard {
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #F9FAFB;
    text-align: center;
    text-decoration: none;

    @media (min-width: 1211px) and (max-width: 1336px) {
        font-size: 18px;
    }

    @media (min-width: 991px) and (max-width: 1210px) {
        font-size: 16px;
    }
}

.VectorBottom {
    display: flex;
    z-index: 99;
    align-self: flex-end;
    position: absolute;
    bottom: -7vw;

    @media (min-width: 0px) and (max-width: 1365px) {
        bottom: -10vw;
    }
    @media (min-width: 0px) and (max-width: 990px) {
        display: none;
    }
    @media (min-height: 0px) and (max-height: 650px) {
        bottom: -15vw;
    }
}